<div class="container mb-3">
  <h1 class="mb-4">Add a Katlama!</h1>
  <div class="row">
    <div class="col-md-7 mb-3">
      <div class="card">
        <ng-template #keystorePrompt>
          <div *ngIf="!loadingProfile; else loadingSkatlamaner" class="card-body">
            <div class="my-5 text-center">
              <p>To add a katlama, please load a valid Arweave Keystore.</p>
              <div class="custom-file mb-4">
                <input
                  type="file"
                  class="custom-file-input"
                  id="keystorePicker"
                  (change)="handleKeyFile($event.target.files)"
                />
                <label class="custom-file-label" for="keystorePicker"
                  >Load Keystore</label
                >
              </div>
              <p>
                Need tokens or a wallet? Get some
                <a
                  href="https://www.arweave.org/wallet"
                  target="_blank"
                  rel="noopener"
                  >here</a
                >.
              </p>
            </div>
          </div>
          <ng-template #loadingSkatlamaner>
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="skatlamaner-border my-5" role="status">
                <span class="sr-only">Loading profile...</span>
              </div>
            </div>
          </ng-template>
        </ng-template>
        <ng-container *ngIf="key; else keystorePrompt">
          <div class="card-header">
            <p class="card-title">{{  profile.id }}</p>
            <small class="text-muted"
              >Change your profile details by updating your Arweave ID
              <a
                href="https://prsr2ntfywm7sqjqmi3h7w6d5swozlahgwzvkescaqfyabkt2fwq.arweave.net/fGUdNmXFmflBMGI2f9vD7KzsrAc1s1USQgQLgAVT0W0"
                target="_blank"
                rel="noopener"
                >here</a
              >!
            </small>
          </div>
          <form class="card-body" [formGroup]="katlamaForm">
            <div class="custom-file mb-4">
              <input
                type="file"
                class="custom-file-input"
                id="imagePicker"
                accept="image/"
                (change)="handleImageFile($event.target.files)"
              />
              <label class="custom-file-label" for="imagePicker">{{
                imgFile?.name || 'Add Image'
              }}</label>
            </div>
            <div class="form-group">
              <input
                type="text"
                formControlName="title"
                class="form-control form-control-lg"
                id="titleInput"
                placeholder="A captivating title *"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                formControlName="tags"
                class="form-control"
                placeholder="Tags"
                aria-describedby="tagsHelp"
              />
              <small id="tagsHelp" class="form-text text-muted"
                >Seperate each tag with a ' , '.</small
              >
            </div>
            <div class="form-group">
              <input
                type="destinationUrl"
                formControlName="destinationUrl"
                class="form-control"
                placeholder="destinationUrl"
              />
            </div>
            <div class="form-group">
              <input
                type="youtubeUrl"
                formControlName="youtubeUrl"
                class="form-control"
                placeholder="youtubeUrl"
              />
            </div>
            <div class="form-group">
              <textarea
                formControlName="description"
                class="form-control"
                placeholder="Description"
                rows="3"
                aria-describedby="descriptionHelp"
              ></textarea>
              <small id="descriptionHelp" class="form-text text-muted"
                >Say more about this katlama!</small
              >
            </div>

            <p>
              Due to the nature of Katlamaned your created katlamas cannot be modified
              or deleted after publishing. Be sure to check it properly!
            </p>
            <div class="d-flex justify-content-end align-items-center">
              <div
                *ngIf="publishingKatlama"
                class="skatlamaner-border mr-4"
                role="status"
              >
                <span class="sr-only">Adding katlama...</span>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                (click)="publishKatlama()"
              >
                Katlama!
              </button>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
    <div class="col-md-5 order-md-first">
      <img class="w-100" [src]="imgPreviewUrl" />
    </div>
  </div>
</div>
