@import './variables';
@import '~bootstrap/scss/bootstrap';
@import './bootswatch';

@font-face {
  font-family: 'News Cycle';
  src: url(assets/fonts/NewsCycle-Regular.ttf) format('truetype');
  font-display: swap;
}

.ng-touched.ng-invalid {
  @extend .is-invalid;
}
