<div class="container">
  <div class="card text-center">
    <div class="card-body">
      <div *ngIf="katlamaPublished$ | async; else katlamaPublishing">
        <h2>This katlama is published!</h2>
        <a
          class="btn btn-primary mt-2"
          routerLink="/u/{{ profileId }}/p/{{ katlamaId }}"
          >View Now</a
        >
      </div>
      <ng-template #katlamaPublishing>
        <h2>This katlama is being published...</h2>
        <p>
          You can safely close this window and check back later. <br />
          This page will automatically update once the katlama is published.
        </p>
        <div class="skatlamaner-border" role="status">
          <span class="sr-only">Publishing...</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
